body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin:0;
}
body{
  background:yellowgreen;
  font-size:20px;
}
main{
  display:flex;
  justify-content:center;
  align-items:center;
  max-width:100%;
  flex-direction:column;
}
article{
  display:flex;
  justify-content:center;
  align-items:center;
  max-width:100%;
  width:900px;
  flex-direction:column;
}
img{
  max-width:100%;
}
section{
  isplay:flex;
  justify-content:center;
  align-items:center;
  max-width:100%;
  width:900px;
  flex-direction:column;
}
